<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title><%= title%></title>
  </head>
  <body>
    <h1>Post a message to the board</h1>

    <form action="/new" method="POST" class="form">
      <label for="name">Username</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Username"
        required
      />
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        cols="30"
        rows="10"
        placeholder="Message"
        required
      ></textarea>
      <button class="btn-blue">Submit</button>
    </form>
  </body>
</html>
